<aside class="fixed top-0 left-0 h-full w-16 bg-gray-800 text-white flex flex-col items-center py-4">
    <div class="mb-8">
        <i class="fas fa-user text-2xl"></i>
    </div>
    <nav class="flex flex-col space-y-4">
        <a href="#about" class="hover:text-gray-400"><i class="fas fa-info-circle text-xl"></i></a>
        <a href="#experience" class="hover:text-gray-400"><i class="fas fa-briefcase text-xl"></i></a>
        <a href="#certificates" class="hover:text-gray-400"><i class="fas fa-certificate text-xl"></i></a>
        <a href="#skills" class="hover:text-gray-400"><i class="fas fa-tools text-xl"></i></a>
        <a href="blog.html" class="hover:text-gray-400"><i class="fas fa-blog text-xl"></i></a>
    </nav>
    <!-- Social Media Links -->
    <div class="flex flex-col space-y-4 mt-4">
        <a href="https://github.com/tesshsu" target="_blank" class="hover:text-gray-400"><i class="fab fa-github text-xl"></i></a>
        <a href="https://www.linkedin.com/in/yating-hsu-a9b1a221/" target="_blank" class="hover:text-gray-400"><i class="fab fa-linkedin text-xl"></i></a>
    </div>
    <!-- Static Links -->
    <div class="flex flex-col space-y-4 mt-4">
        <a href="https://tesshsu.goatcounter.com/?hl-period=week-cur&period-start=2025-05-05&period-end=2025-05-11&filter=&daily=off" target="_blank" class="hover:text-gray-400"><i class="fas fa-chart-bar text-xl"></i></a>
    </div>
    <div class="mt-auto">
        <select id="language-switcher" class="bg-gray-800 text-white border-none outline-none">
            <option value="en" selected>EN</option>
            <option value="fr">FR</option>
        </select>
    </div>
</aside>