<div class="container mx-auto px-4 sm: ml-16">
    <div class="p-4 bg-gray-100 rounded-lg mx-auto flex flex-col sm:flex-row items-center justify-between gap-4 sm:gap-6 sm:p-6">
        <div class="text-lg sm:text-xl flex items-center flex-wrap">
            <i class="fas fa-globe mr-2 text-blue-500"></i>
            <span class="text-lg sm:text-xl font-semibold mr-2">
                Ce site est gratuit et accessible à tous, ça te plaît cet article ?
            </span>
            <a href="https://ko-fi.com/yadevop" target="_blank" class="text-blue-600 hover:underline text-lg sm:text-xl flex items-center">
                <i class="fas fa-coffee mr-1"></i> Offrir un cappuccino
            </a>
        </div>
        <div class="text-lg sm:text-xl flex items-center">
            <i class="fas fa-eye mr-2 text-green-500"></i>
            Visites : <span id="visit-count">0</span>
            <i class="fas fa-chart-line ml-2 text-yellow-500"></i>
        </div>
    </div>
    
    <!-- New contact section -->
    <div class="mt-2 p-4 bg-gray-100 rounded-lg mx-auto flex flex-col sm:flex-row items-center justify-between gap-4 sm:gap-6 sm:p-6">
        <div class="text-lg sm:text-xl flex items-center flex-wrap">
            <i class="fas fa-envelope mr-2 text-purple-600"></i>
            <span class="mr-2">Vous pouvez aussi me contacter ou commenter cet article directement</span>
            <a href="mailto:tess.hsu@gmail.com" class="text-blue-600 hover:underline text-lg sm:text-xl flex items-center">
                <i class="fas fa-user-secret mr-1"></i> pour votre projet en DevOps, pentest, cybersécurité ou juste discuter tech.
            </a>
        </div>
    </div>
</div>
