<div class="mt-6 p-4 bg-gray-100 rounded-lg flex items-center justify-between">
    <p class="text-lg">
        <h4 class="text-lg font-semibold mb-2">Ce site est gratuit et accessible à tous, ça te plaît cet article ? vous pouvez me offrir un cappuccino pour cette recherche</h4>
        <a href="https://ko-fi.com/yadevop" target="_blank" class="text-blue-600 hover:underline ml-2 flex items-center">
            <i class="fas fa-coffee mr-1"></i> Hot coffee
        </a>
    </p>
    <div class="text-lg flex items-center">
        <i class="fas fa-eye mr-2 text-green-500"></i>
        Visites : <span id="visit-count">0</span>
        <i class="fas fa-chart-line ml-2 text-yellow-500"></i>
    </div>
</div>