body {
    font-family: 'Arial', sans-serif;
}
.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slider img {
    flex: 0 0 auto;
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-right: 10px;
}
.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}
.prev-btn {
    left: 10px;
}
.next-btn {
    right: 10px;
}

.prev-btn-blog{
    left: 10px;
}

.next-btn-blog{
    right: 10px;
}

#blog-slider a{
    padding: 0  15px;
}